.re-page-banner {
  position: relative;
  height: 450px;
  margin: -$margin-large;
  margin-top: -($margin-large + 5);
  margin-bottom: $margin-large * 2;


  @include flex-center();

  .overlay {
    @include overlay();
    //background: linear-gradient(to bottom right, rgba($color-primary, .2), rgba($color-secondary, .2)) !important;
  }

  h1 {
    position: relative;
    z-index: 20;
    color: $font-color-white;
    margin: 0;
    font-size: $font-size-h1 * 1.3;
    font-weight: $font-weight-base;
  }
}
