.iconbox-wrapper {
  position: relative;
  width: 100%;

  &.alter {
    //background: $color-bg-white;
    //padding: $padding-large;
    //@include an-box-shadow-small();
    //margin-bottom: $margin-large;


    .iconbox-single {
      @include an-box-shadow-small()
      @include border-radius($border-radius);
      //border-right: 1px solid darken($color-body-bg, 5%);
      //margin: 0;
      padding-left: $padding-base;

      @media (max-width: 768px) {
        border-right: 0;
      }

      .circle-icon-alter {
        //border: 1px solid darken($color-body-bg, 5%);
        position: relative;
        //width: $circle-icon-width + 10;
        //height: $circle-icon-width + 10;
        margin-right: $margin-medium;
        //@include border-radius(50%);
        @include flex-center;
        i {
          font-size: 60px;
          opacity: .5;
        }
      }
      .box-title {
        padding-bottom: 0;
        h3, p{
          color: $white;
          font-weight: $font-weight-medium;
          margin: 0;
        }
        h3 {
          font-weight: $font-weight-bold;
        }
      }
    }
  }
}

.iconbox-single {
  position: relative;
  background: $color-bg-white;
  padding: $padding-medium;
  margin-bottom: $margin-large;
  @include border-radius($border-radius);
  @include an-box-shadow-small;
  @include flex-space-between();

  @media (ma-width: 520px) {
    padding: $padding-small;
  }

  .circle-icon {
    position: relative;
    width: $circle-icon-width;
    height: $circle-icon-width;
    margin-right: $margin-medium;
    @include border-radius(50%);
    @include flex-center;
    .material-icons {
      color: $font-color-white;
    }
  }

  .box-title {
    position: relative;
    width: 100%;
    padding-bottom: 40px;
    @include flex-space-between();

    h5 {
      font-weight: $font-weight-medium;
    }

    p {
      font-size: 14px;
      opacity: .6;
      color: $font-color-base;
    }
  }

  .value {
    position: relative;
    width: 100%;
    margin-left: -5px;
    @include flex-space-between();
    h3 {
      margin: 0;
      display: flex;
      align-items: center;


      i {
        font-size: 35px;
        margin-right: 5px;

        &.up {
          color: $color-green;
        }
        &.down {
          color: $color-danger;
        }
      }
    }

    span {
      opacity: .6;
      font-size: 14px;
      color: $font-color-base;
    }
  }

  .progress-bar {
    position: relative;
    margin-top: $padding-base;
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background: $border-color;

    span {
      position: absolute;
      left: 0;
      top: 0;
      height: 5px;
      border-radius: 10px;
      background: $color-secondary;

      &.above {
        @include gradient-bg($color-green, $color-green-light);
      }

      &.below {
        @include gradient-bg($color-primary, $color-secondary);
      }
    }
  }

  h5 {
    margin: 0;
  }
  p {
    margin: 0;
    opacity: .6;
  }
}
